.Fret {
    height: 300px;
    width: 5px;
    background-color: white;
    position: relative;
    bottom: 290px;
    z-index: 99;
}
.indicator {
    position: relative;
    bottom: -320px;
    right: 60px;
}
